<menu-diretiva></menu-diretiva>
<h3>Cadastrar Veiculo</h3>

<div class="jumbotron" style="margin-right:30px; padding-top: 10px; padding-right: 30px; padding-left: 30px; background-color: #f8f9fa">

    <form>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputEmail4">Placa:</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="">
            </div>
            <div class="form-group col-md-2">
                <label for="inputEmail4">Renavam:</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="">
            </div>
        </div>
        <div class="form-row">

        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputAddress2">Tipo de Veiculo</label>
                <select id="inputState" class="form-control">
                    <option selected>Selecione...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputAddress2">Marca</label>
                <select id="inputState" class="form-control">
                    <option selected>Selecione...</option>
                    <option>...</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAddress2">Modelo</label>
                <select id="inputState" class="form-control">
                    <option selected>Selecione...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Kilometragem Atual</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="form-group col-md-1">
                <label for="inputZip">Cor</label>
                <select id="inputState" class="form-control">
                    <option selected>...</option>
                    <option>...</option>
                </select>
            </div>
        </div>
        <div style="float: right">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
    </form>
</div>

