<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>


  </head>

  <body>

      <menu-diretiva></menu-diretiva>
      <div class="jumbotron" style="margin-right:30px; padding-top: 10px; padding-right: 30px; padding-left: 30px; background-color: #f8f9fa">


        <h5 style="color: darkgray">Rent a CAR - Sistema de Gerenciamento de Veiculos de Aluguel</h5>


      </div>
    
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

  </body>
</html>
